Repository opentelekomcloud-docs/doc-exports: changes, and which Zuul jobs are due for each by the changed paths.
All: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-compute, otc-doc-exports-propose-update-big-data

otc-doc-exports-convert-compute:
  parent: otc-doc-exports-convert-base
  description: 'Convert Compute doc exports from html to rst and generate
  
    corresponding rst patch files.
  
    '
  vars:
    docs_update_data_file: docs_compute.yaml

otc-doc-exports-convert-big-data:
  parent: otc-doc-exports-convert-base
  description: 'Convert BigData doc exports from html to rst and generate
  
    corresponding rst patch files.
  
    '
  vars:
    docs_update_data_file: docs_big-data.yaml

otc-doc-exports-propose-update-compute:
  parent: otc-doc-exports-convert-compute
  description: 'Propose Compute changes to the final projects
  
    files.
  
    '
  post-run: playbooks/propose_update.yaml
  secrets:
  - secret: zuul_eco_doc_exports_vault
    name: zuul_vault
    pass-to-parent: true

otc-doc-exports-propose-update-big-data:
  parent: otc-doc-exports-convert-big-data
  description: 'Propose BigData changes to the final projects
  
    files.
  
    '
  post-run: playbooks/propose_update.yaml
  secrets:
  - secret: zuul_eco_doc_exports_vault
    name: zuul_vault
    pass-to-parent: true

add pandoc version info (#8)
  bindep.txt
  playbooks/pre.yaml
  playbooks/run.yaml
  roles/convert_doc/tasks/main.yaml
  zuul.yaml
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data

cleanup destination before copying doc
  roles/generate_doc_patch/tasks/main.yaml
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data

cleanup destination before copying doc (#9)
  roles/generate_doc_patch/tasks/main.yaml
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data

register images outside figures
  otc_doc_convertor/convertor.py
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-compute, otc-doc-exports-propose-update-big-data

register images outside figures (#10)
  otc_doc_convertor/convertor.py
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-compute, otc-doc-exports-propose-update-big-data

trim whitespaces and the line end
  otc_doc_convertor/convertor.py
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-compute, otc-doc-exports-propose-update-big-data

switch to git apply of the generated patch
  playbooks/propose_update.yaml
  roles/apply_doc_patch/defaults/main.yaml
  roles/apply_doc_patch/tasks/main.yaml
  roles/apply_doc_patch/templates/patch_remainder_comment.txt.j2
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data

switch to git apply of the generated patch (#12)
  playbooks/propose_update.yaml
  roles/apply_doc_patch/defaults/main.yaml
  roles/apply_doc_patch/tasks/main.yaml
  roles/apply_doc_patch/templates/patch_remainder_comment.txt.j2
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data

trim whitespaces and the line end (#11)
  otc_doc_convertor/convertor.py
Due: otc-doc-exports-convert-compute, otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-compute, otc-doc-exports-propose-update-big-data

Fix to remove duplicated Chapters in ECS API doc
  docs/ecs/api-ref/ALL_META.TXT.json
  docs/ecs/api-ref/CLASS.TXT.json
  docs/ecs/api-ref/en-us_topic_0020212668.html
  docs/ecs/api-ref/en-us_topic_0020212689.html
  docs/ecs/api-ref/en-us_topic_0020212690.html
  docs/ecs/api-ref/en-us_topic_0024734483.html
  docs/ecs/api-ref/en-us_topic_0103071514.html
  docs/ecs/api-ref/en-us_topic_0103071516.html
  docs/ecs/api-ref/en-us_topic_0111860831.html
  docs/ecs/api-ref/en-us_topic_0122107473.html
  docs/ecs/api-ref/en-us_topic_0122110044.html
  docs/ecs/api-ref/en-us_topic_0124385011.html
  docs/ecs/api-ref/en-us_topic_0124385013.html
  docs/ecs/api-ref/en-us_topic_0124385015.html
Due: otc-doc-exports-convert-compute, otc-doc-exports-propose-update-compute

Adding new export to ECS API
  docs/ecs/api-ref/en-us_topic_0000001266524365.html
  docs/ecs/api-ref/en-us_topic_0067600284.html
  docs/ecs/api-ref/en-us_topic_0122107473.html
  docs/ecs/api-ref/en-us_topic_0122110044.html
  docs/ecs/api-ref/en-us_topic_0124385013.html
Due: otc-doc-exports-convert-compute, otc-doc-exports-propose-update-compute

R&D fixed some internal API port issues (25052022)
  docs/modelarts/api-ref/ALL_META.TXT.json
  docs/modelarts/api-ref/CLASS.TXT.json
  docs/modelarts/api-ref/CreateDataset.html
  docs/modelarts/api-ref/DescDataset.html
  docs/modelarts/api-ref/dataset_management.html
  docs/modelarts/api-ref/modelarts_03_0001.html
  docs/modelarts/api-ref/modelarts_03_0097.html
  docs/modelarts/api-ref/modelarts_03_0202.html
  docs/modelarts/api-ref/sample_management.html
Due: otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-big-data

ModelArts GA API 08072022 from R&D (based on second round review comments)
  docs/modelarts/api-ref/topic_300000012.html
Due: otc-doc-exports-convert-big-data, otc-doc-exports-propose-update-big-data

updates in UMN and API based on 3rd review iteration
  docs/ecs/api-ref/ALL_META.TXT.json
  docs/ecs/api-ref/CLASS.TXT.json
  docs/ecs/api-ref/en-us_topic_0020212668.html
  docs/ecs/api-ref/en-us_topic_0022067716.html
  docs/ecs/api-ref/en-us_topic_0022067717.html
  docs/ecs/api-ref/en-us_topic_0024734483.html
  docs/ecs/umn/ALL_META.TXT.json
  docs/ecs/umn/CLASS.TXT.json
  docs/ecs/umn/en-us_topic_0000001351167793.html
  docs/ecs/umn/en-us_topic_0018078522.html
  docs/ecs/umn/en-us_topic_0027157850.html
  docs/ecs/umn/en-us_topic_0030828254.html
  docs/ecs/umn/en-us_topic_0035470099.html
  docs/ecs/umn/en-us_topic_0035470100.html
  docs/ecs/umn/en-us_topic_0035470101.html
  docs/ecs/umn/en-us_topic_0035550301.html
  docs/ecs/umn/en-us_topic_0035643949.html
  docs/ecs/umn/en-us_topic_0038024694.html
  docs/ecs/umn/en-us_topic_0040630518.html
  docs/ecs/umn/en-us_topic_0041169567.html
  docs/ecs/umn/en-us_topic_0048642616.html
  docs/ecs/umn/en-us_topic_0091224748.html
  docs/ecs/umn/en-us_topic_0092435778.html
  docs/ecs/umn/en-us_topic_0092494580.html
  docs/ecs/umn/en-us_topic_0095020344.html
  docs/ecs/umn/en-us_topic_0097289624.html
  docs/ecs/umn/en-us_topic_0167429328.html
  docs/ecs/umn/en-us_topic_0177512565.html
Due: otc-doc-exports-convert-compute, otc-doc-exports-propose-update-compute

Path conditions:
  otc-doc-exports-convert-compute: any of: otc_doc_convertor, docs/ecs, roles
  otc-doc-exports-convert-big-data: any of: otc_doc_convertor, docs/modelarts, roles
  otc-doc-exports-propose-update-compute: any of: otc_doc_convertor, docs/ecs
  otc-doc-exports-propose-update-big-data: any of: otc_doc_convertor, docs/modelarts
